<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.addoiles.db.dao.MicroContentMapper">
  <resultMap id="BaseResultMap" type="com.addoiles.entity.MicroContent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="micro_id" jdbcType="VARCHAR" property="microId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="micro_type" jdbcType="INTEGER" property="microType" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="likes" jdbcType="INTEGER" property="likes" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, micro_id, user_id, micro_type, title, content, likes, delete_status, create_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from micro_content
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from micro_content
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.addoiles.entity.MicroContent">
    insert into micro_content (id, micro_id, user_id, 
      micro_type, title, content, 
      likes, delete_status, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{microId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{microType,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{likes,jdbcType=INTEGER}, #{deleteStatus,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.addoiles.entity.MicroContent">
    insert into micro_content
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="microId != null">
        micro_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="microType != null">
        micro_type,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="likes != null">
        likes,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="microId != null">
        #{microId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="microType != null">
        #{microType,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="likes != null">
        #{likes,jdbcType=INTEGER},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.addoiles.entity.MicroContent">
    update micro_content
    <set>
      <if test="microId != null">
        micro_id = #{microId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="microType != null">
        micro_type = #{microType,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="likes != null">
        likes = #{likes,jdbcType=INTEGER},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.addoiles.entity.MicroContent">
    update micro_content
    set micro_id = #{microId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      micro_type = #{microType,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      likes = #{likes,jdbcType=INTEGER},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>