<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.addoiles.db.dao.NavSettingsMapper">
    <resultMap id="BaseResultMap" type="com.addoiles.entity.NavSettings">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="nav_name" jdbcType="VARCHAR" property="navName"/>
        <result column="nav_router" jdbcType="VARCHAR" property="navRouter"/>
        <result column="nav_icon" jdbcType="VARCHAR" property="navIcon"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, nav_name, nav_router, nav_icon, is_start
    </sql>

    <select id="getList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from nav_settings
        where is_start = 0
    </select>

</mapper>