<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.addoiles.db.dao.QuestionMapper">
    <resultMap id="BaseResultMap" type="com.addoiles.entity.Question">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="question_id" jdbcType="VARCHAR" property="questionId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="delete_status" jdbcType="INTEGER" property="deleteStatus"/>
        <result column="create_time" jdbcType="INTEGER" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, user_id, question_id, content,type, delete_status,create_time
  </sql>

    <select id="getByBusinessId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from question
        where question_id = #{questionId,jdbcType=INTEGER} and delete_status = 0
    </select>

    <select id="getList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from question
        where delete_status = 0
        <if test="queryDto.questionType != null">
            and type = #{queryDto.questionType,jdbcType=INTEGER}
        </if>
        order by create_time desc
        limit #{queryDto.page.pageNo},#{queryDto.page.pageSize}
    </select>

    <select id="getAllQuestions" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from question
        where delete_status = 0
    </select>

    <select id="getLatestList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from question
        where delete_status = 0 and user_id = #{queryDto.userId,jdbcType=VARCHAR}
        order by create_time desc
        limit 2
    </select>

    <select id="getSimpleList" resultMap="BaseResultMap">
        select
        question_id, content, delete_status,create_time
        from question
        where delete_status = 0
        and user_id = #{queryDto.userId,jdbcType=VARCHAR}
        order by create_time desc
    </select>

    <delete id="delete" parameterType="java.lang.String">
    update  question set delete_status = 1
    where question_id = #{questionId,jdbcType=VARCHAR}
  </delete>

    <insert id="insert" parameterType="com.addoiles.entity.Question">
    insert into question (id, user_id,question_id,content,type,delete_status,
      create_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR},#{questionId,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
     #{type,jdbcType=INTEGER},#{deleteStatus,jdbcType=INTEGER},
      #{createTime,jdbcType=INTEGER})
  </insert>

    <update id="update" parameterType="com.addoiles.entity.Question">
        update question
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="deleteStatus != null">
                delete_status = #{deleteStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=INTEGER},
            </if>
        </set>
        where question_id = #{questionId,jdbcType=INTEGER}
    </update>

</mapper>