<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.addoiles.db.dao.RecommendMapper">
  <resultMap id="BaseResultMap" type="com.addoiles.entity.Recommend">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="show_id" jdbcType="VARCHAR" property="showId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, show_id, title, content, image, type, delete_status, create_time
  </sql>

  <select id="getList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from recommend
    where delete_status = 0
  </select>

  <insert id="insert" parameterType="com.addoiles.entity.Recommend">
    insert into recommend (show_id, title, content,
      image, type, delete_status, 
      create_time)
    values (#{showId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{deleteStatus,jdbcType=INTEGER}, 
      #{createTime,jdbcType=INTEGER})
  </insert>

  <update id="update" parameterType="map">
    update recommend
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.showId != null">
        show_id = #{record.showId,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.image != null">
        image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.deleteStatus != null">
        delete_status = #{record.deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
    </set>
    <!--第二次查找最新的show_id-->
    where show_id = #{record.showId,jdbcType=VARCHAR}
  </update>

</mapper>