<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.addoiles.db.dao.SuggestMapper">
    <resultMap id="BaseResultMap" type="com.addoiles.entity.Suggest">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
    </resultMap>

    <insert id="insert" parameterType="com.addoiles.entity.Suggest">
        insert into suggest (id, user_id, content)
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR})
    </insert>

</mapper>