<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<!-- ${log.dir} ${log.module.name} 参考src/main/assembly/default.properties 重配置，通过构建参数占位 -->
	<property name="default.pattern" value="%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
	<property name="elog.pattern" value="[%p] %date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
	<property name="file.tail.pattern" value="%d{yyyy-MM-dd}.%i" />
	
	<!-- 控制台日志 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${default.pattern}</pattern>
        </encoder>
    </appender>
    
    <!-- 综合时间与大小的滚动策略，先按小时滚动，小时内的文件大于10mb时再按大小滚动 -->
    <appender name="errorRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/${log.module.name}/${log.module.name}-error.log.tmp</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/tmp/addoiles-error-${file.tail.pattern}.log</fileNamePattern>
            <MaxHistory>30</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${elog.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    
    <!-- info日志 appender  -->
    <appender name="infoRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/addoiles-${file.tail.pattern}.log.tmp</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/tmp/addoiles-${file.tail.pattern}.log</fileNamePattern>
            <MaxHistory>30</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${elog.pattern}</pattern>
        </encoder>
    </appender>



    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="errorRollingFile"/>
        <appender-ref ref="infoRollingFile"/>
    </root>
</configuration>