
		<link rel="stylesheet" href="${base_url}/static/CFEditor/bootstrap/css/bootstrap-2014-10-23-e2373d4a.min.css">
		<link href="${base_url}/static/CFEditor/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

		<!-- Jquery -->
		<script src="${base_url}/static/CFEditor/js/jquery-1.11.1.min.js"></script>

		<!-- bootstrap -->
		<script src="${base_url}/static/CFEditor/bootstrap/js/bootstrap-2014-10-23-140084e9.min.js"></script>

		<script src="${base_url}/static/CFEditor/js/global.js"></script>

		<script src="${base_url}/static/CFEditor/wysihtml5/main.js"></script>
		<script src="${base_url}/static/CFEditor/wysihtml5/classfoo-editor.js"></script>

		<style>
	
			.well.cf,
			.panel.cf {
				border-color: #d8d8d8;
				-webkit-box-shadow: 0 1px 0 #cfcfcf;
				-moz-box-shadow: 0 1px 0 #cfcfcf;
				box-shadow: 0 1px 0 #cfcfcf
			}
			
			.transit {
				-webkit-transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out;
				transition: all 0.4s ease-in-out
			}
			
			.cfeditor {
				padding: 10px;
				overflow: auto;
				width: 100%;
				height: 350px;
				border: 1px solid #cccccc;
				border-radius: 4px;
				outline: 0
			}
			
			div.cf-toolbar a.wysihtml5-command-active {
				background-image: none;
				-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
				-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
				box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
				background-color: #E6E6E6;
				background-color: #D9D9D9;
				outline: 0
			}
			
			.change-label .label {
				font-size: 100%
			}

			.cf-toolbar .tb-bg ul li a,
			.cf-toolbar .tb-alert ul li a {
				padding: 0px 0px
			}
			
			.cf-toolbar .tb-bg ul {
				padding: 0px
			}
			
			.cf-toolbar .tb-bg ul li span {
				display: block;
				padding: 8px 10px;
				width: 100%
			}
			
			.cf-toolbar .tb-alert ul li p {
				margin: 6px
			}
			
			.cf-toolbar .showit {
				width: 66px
			}
			
			.cf-toolbar .result-wrap.showit {
				width: 39px
			}
			
			.cf-toolbar .hideit {
				width: 0px
			}
			
			.cf-toolbar .extra-part {
				overflow-x: hidden;
				display: block
			}
			
			.cf-toolbar .toggle-extra-part {
				padding: 6px;
				background-color: transparent
			}
			
			.cf-toolbar .extra-part.open {
				overflow-x: visible
			}
		</style>
	<body class="wysihtml5-supported">
				<!--############ content_left ############-->
					<div class="section well cf" style="width: 1000px;"><!--设置编辑器宽度-->
						<div id="form-container-a794381c">
								<div class="row">
									<div class="col-md-12">
										<div class="btn-toolbar cf-toolbar" id="page-toolbar-a794381c" style="margin-bottom:4px;">
											<div class="btn-group">
												<a class="btn btn-default" data-wysihtml5-command="bold" title="CTRL+B" target="_blank" unselectable="on"><i class="fa fa-bold"></i></a>
												<a class="btn btn-default" data-wysihtml5-command="italic" title="CTRL+I" target="_blank" unselectable="on"><i class="fa fa-italic"></i></a>
												<a class="btn btn-default" data-wysihtml5-command="underline" title="CTRL+U" target="_blank" unselectable="on"><i class="fa fa-underline"></i></a>
												<a class="btn btn-default" data-wysihtml5-command="strikethrough" target="_blank" unselectable="on"><i class="fa fa-strikethrough"></i></a>
											</div>

											<div class="btn-group">
												<a class="btn btn-default" data-wysihtml5-command="formatInline" data-wysihtml5-command-value="code" title="文字、代码片段"><code>片段</code></a>
												<a class="btn btn-default" data-wysihtml5-command="myClass" data-wysihtml5-command-value="text-primary" title="我很重要!!"><span class="text-primary">首要</span></a>
												<a class="btn btn-default" data-wysihtml5-command="myClass" data-wysihtml5-command-value="text-info" title="给你看点东西"><span class="text-info">信息</span></a>
												<a class="btn btn-default" data-wysihtml5-command="myClass" data-wysihtml5-command-value="text-warning" title="警告你，别碰我"><span class="text-warning">警告</span></a>
												<a class="btn btn-default" data-wysihtml5-command="myClass" data-wysihtml5-command-value="text-success" title="取得好成绩"><span class="text-success">好结果</span></a>
												<a class="btn btn-default" data-wysihtml5-command="myClass" data-wysihtml5-command-value="text-danger" title="很糟糕啊"><span class="text-danger">坏结果</span></a>


											</div>

											<div class="btn-group">
												<a class="btn btn-default" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="blockquote" title="标题" target="_blank" unselectable="on">标题</a>
												<a class="btn btn-default" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="pre" title="代码块" target="_blank" unselectable="on"><i class="fa fa-code"></i></a>
												<a class="btn btn-default" data-wysihtml5-command="insertUnorderedList" title=" 无序列表 " target="_blank" unselectable="on"><i class="fa fa-list"></i></a>
												<a class="btn btn-default" data-wysihtml5-command="insertOrderedList" title=" 有序列表 " target="_blank" unselectable="on"><i class="fa fa-list-ol"></i></a>

												<div class="btn-group extra-part result-wrap transit hideit">
													<a class="btn btn-default" data-wysihtml5-command="myResult" data-wysihtml5-command-value="thumbnail" title=" 运行结果 " target="_blank" unselectable="on"><i class="fa fa-terminal"></i></a>
												</div>
											</div>

											<div class="btn-group">
												<a id="page-toolbar-a794381cLBID" dialog="#page-toolbar-a794381cLMID" class="btn btn-default" href="javascript:void(0);" data-wysihtml5-command="createLink" title="链接" unselectable="on"><i class="fa fa-link"></i></a>

											</div>

											<div class="btn-group">
												<a id="saveContent" class="btn btn-default" title="编辑完成请点我,哈哈" >Show出去</a>
											</div>

											<div class="btn-group">
												<a id="saveTempContent" class="btn btn-default" title="临时保存一下,稍后编辑" >临时保存^v^</a>
											</div>
											<!-- btn-group-->
											<script>
												if(typeof jQuery != 'undefined') {
													$('#page-toolbar-a794381cLMID').appendTo('body');
												} else {}
											</script>
											<script>
												$('#page-toolbar-a794381cLBID').attr('data-wysihtml5-command', 'createLink').attr('title', '链接');
												$('#page-toolbar-a794381cLMID').attr('data-wysihtml5-dialog', 'createLink');
											</script>
										</div>

									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<textarea name="content" id="id-page-editor-a794381c" class="cfeditor" placeholder="人生需要很多次的加油和相互鼓励，也需要沟通交流和理解,做你想做的,加油!"></textarea>
									</div>
								</div>

						</div>
					</div>
				<script>
					var href = '${base_url}/static/CFEditor/bootstrap/css/bootstrap-2014-10-23-e2373d4a.min.css'

					var editor = new wysihtml5.Editor(
						"id-page-editor-a794381c", {
							name: "page-editor-a794381c",
							style: true,
							toolbar: "page-toolbar-a794381c",
							parserRules: ToolBarRules,
							useLineBreaks: false,
							stylesheets: href
						});
				</script>

			</div>
			<!--########## content_left_end ##########-->

	

		<div class="modal fade noautofocus" id="page-toolbar-a794381cLMID" tabindex="-1" role="dialog" aria-labelledby="page-toolbar-a794381cLMIDLabel" aria-hidden="true" style="display:none" data-wysihtml5-dialog="createLink">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

						<h3 class="modal-title" id="page-toolbar-a794381cLMIDLabel">链接</h3>

					</div>
					<div class="modal-body">
						<input class="form-control" data-wysihtml5-dialog-field="href" value="http://">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" data-wysihtml5-dialog-action="cancel">取消</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" data-wysihtml5-dialog-action="save">确定（Enter）</button>
					</div>

				</div>
			</div>
		</div>
		<!--哪个页面加载了编辑器,就引用哪个页面的js-->
		<script type="text/javascript" src="${base_url}/js/oil_${pageName}.js"></script>
	</body>
