<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.addoiles.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.addoiles.entity.Comment">

    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="commit_id" jdbcType="VARCHAR" property="commitId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="target_id" jdbcType="VARCHAR" property="targetId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.addoiles.entity.Comment">

    insert into comment (id, commit_id, user_id, 
      target_id, content, delete_status, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{commitId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{targetId,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{deleteStatus,jdbcType=INTEGER}, 
      #{createTime,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.addoiles.entity.Comment">

    update comment
    set commit_id = #{commitId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      target_id = #{targetId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select id, commit_id, user_id, target_id, content, delete_status, create_time
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">

    select id, commit_id, user_id, target_id, content, delete_status, create_time
    from comment
  </select>
</mapper>