<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.addoiles.dao.ExperienceMapper">
  <resultMap id="BaseResultMap" type="com.addoiles.entity.Experience">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="experience_id" jdbcType="VARCHAR" property="experienceId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="rates" jdbcType="INTEGER" property="rates" />
    <result column="rate_count" jdbcType="INTEGER" property="rateCount" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
  </resultMap>
  <sql id="BaseColumn">
    id, experience_id, user_id, title, content, rates, rate_count, delete_status, create_time
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from experience
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.addoiles.entity.Experience">
    insert into experience (id, experience_id, user_id,
      title, content, rates, rate_count,
      delete_status, create_time)
    values (#{id,jdbcType=INTEGER}, #{experienceId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{rates,jdbcType=INTEGER}, #{rateCount,jdbcType=INTEGER},
      #{deleteStatus,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER})
  </insert>
  <update id="updateByExperienceId" parameterType="com.addoiles.entity.Experience">
    update experience
    set
      user_id = #{userId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      rates = #{rates,jdbcType=INTEGER},
      rate_count = #{rateCount,jdbcType=INTEGER},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER}
    where experience_id = #{experienceId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="BaseColumn" />
    from experience
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByExperienceId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="BaseColumn" />
    from experience
    where experience_id = #{experienceId,jdbcType=INTEGER}
  </select>
  <select id="selectExperienceList" resultMap="BaseResultMap">
    select
    <include refid="BaseColumn" />
    from experience
    where delete_status = 0
    order by create_time DESC
    limit #{page.pageNo},#{page.pageSize}
  </select>
</mapper>