<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <!-- 配置spring配置文件位置 -->
  <servlet>
  	<servlet-name>spring</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  <!-- 如果此次没有配置xml位置，则默认为[servlet-name].xml即spring.xml -->
  	<init-param>
  		<param-name>ContextConfigLocation</param-name>
  		<param-value>classpath*:application*.xml</param-value>
  	</init-param>
  	
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <!-- 所有请求交于名字为spring的DispatcherSerlet处理 -->
  <servlet-mapping>
  	<servlet-name>spring</servlet-name>
  	<url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  <!-- 配置过滤器 -->
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- web启动时自动加载文件 -->
  <context-param>
  	<param-name>log4jConfigLocation</param-name>
  	<param-value>classpath:log4j.properties</param-value>
  </context-param>
  
  <!-- 监听启动 -->
  <listener>
  	<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>
  	<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  
  <context-param>
  	<param-name>webAppRootKey</param-name>
  	<param-value>addoiles.com</param-value>
  </context-param>
  
  <listener>
  	<listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
  </listener>
  
  <session-config>
  	<session-timeout>20</session-timeout>
  </session-config>
  
  <welcome-file-list>
  	<welcome-file>/index.html</welcome-file>
  </welcome-file-list>
</web-app>
